body{
	font-family: Arial, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
header{
	background-color: orange;
	width: 85%;
	margin: 0px auto;
}
h1{
	padding: 30px 0px 0px 30px;
}
header>p{
	padding: 0px 0px 30px 30px;
	margin: 0;
}
main{
	width: 85%;
	margin: 0px auto;
}
main::after{
	content: "";
	display: block;
	clear: both;
	font-size: 0px;
}
article{
	width: 30%;
	float: left;
	margin: 0% 2.5% 0% 0%;
}
img{
	width: 48%;
	margin: 0% 1% 0% 1%;
	float: left;
}
.q{
	height: 170px;
}
.london{
	margin: 0% 2.5% 0% 2.5%;
}
@media screen and (max-width: 1000px){
article{
	width: 100%;
	float: left;
}
.london{
	margin: 0% 0% 0% 0%;
}
	img{
		margin: 0;
		width: 80%;
		margin: 0% 10% 3% 10%;
	}
}